<div class="container">

	<h4>Welcome to our world!</h4>
	<div class="row">
		<section id="blog-history" class="two-thirds column">
			{{#each model as |post| }}

			<div class="row">
				{{#link-to 'post' post.id}}
					<div class="two columns">
						<p class="date-highlight center-text"><span>
						{{moment-format post.date "MMM"}}
						<br>
						<i>{{moment-format post.date "Do"}}</i>
						</span></p>
					</div>
					<h3 class="seven columns">{{post.title}}</h3>
					{{/link-to}}
			</div>	
			<div class="row">	
					<p class="offset-by-two columns seven">
					{{post.excerpt}}

					<br>
					{{#link-to 'post' post.id}}More...{{/link-to}}
					</p>
			</div>	
			{{else}}
				<p>We are on adventure right now, will post later!</p>
			{{/each}}
		</section>
		{{blog-detail-card}}
	</div>
</div>