<div class="container">

	<h4>Welcome to our world!</h4>
	<div class="row">
		<section id="blog-history" class="two-thirds column">
			{{#each model as |post| }}
				{{#link-to 'post' post.id}}
					<div class="date-highlight">{{moment-format post.date "MMMM Do YYYY"}}</div>
					<h3>{{post.title}}</h3>{{/link-to}}
					<p>{{post.excerpt}}</p>
				
			{{else}}
				<p>We are on adventure right now, will post later!</p>
			{{/each}}
		</section>
		{{blog-detail-card}}
	</div>
</div>